* {
    box-sizing: border-box;
}

:root {
    --theme-color: rgb(209, 64, 64);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 8%);
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-content-width {
    max-width: min(400px + 40vw, 1200px);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.search-filters {
    flex: 5 1 0;
}

.search-results {
    flex: 7 1 400px;
    border: black solid 1px;
    padding: 20px;
}

.result-title {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--theme-color);
    margin-bottom: 5px;
}

.result > p {
    margin-top: 5px;
}

.result {
    margin-bottom: 30px;
}

.navbar-bg {
    width: 100%;
    padding: 10px 0;
    background-color: var(--theme-color);
}

nav > a {
    color: white;
}